@using HRFlow.Common.ViewModels
@model EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Employee Details";
}

<div class="row">

    <div class="col-md-3">
        <h3 class="h5 text-muted">@ViewData["Title"]</h3>
        <hr />

        <form asp-controller="Home" asp-action="UpdateEmployee" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class=row>
                <div class=col-md-6>
                    <div class="form-group mb-2">
                        <label asp-for="FirstName" class="formbuilder-text-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class=col-md-6>
                    <div class="form-group mb-2">
                        <label asp-for="MiddleName" class="formbuilder-text-label">Middle Name</label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class=row>
                <div class=col-md-6>
                    <div class="form-group mb-2">
                        <label asp-for="LastName" class="formbuilder-text-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class=col-md-6>
                    <div class="form-group mb-2">
                        <label asp-for="Salary" class="formbuilder-text-label">Current Salary</label>
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Address" class="formbuilder-text-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="IBAN" class="formbuilder-text-label">IBAN</label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LineManagerId" class="formbuilder-text-label">Line Manager</label>
                <select asp-for="LineManagerId" asp-items="Model.LineManagers" class="form-control"></select>
                <span asp-validation-for="LineManagerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label for="hire-date" class="formbuilder-text-label">Hire Date</label>
                <div class="form-control text-muted" id="hire-date">@(Model.HireDate)</div>
            </div>
            <input value="@Model.Id" type="hidden" name="Id" />
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </form>

    </div>

    <div class="col-md-5">
        <h3 class="h5 text-muted">Comments</h3>
        <hr />

        <form asp-controller="Home" asp-action="AddComment" method="post">
            <div class="mb-3">
                <label asp-for="Comment" class="form-label">Add comment</label>
                <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
            </div>
            <input value="@Model.Id" type="hidden" name="employeeId" />
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        <br />

        <div id="comments-table">
            @foreach (var comment in Model.Comments)
            {
                string contentId = "content-" + comment.Id;

                <div class="card">
                    <div class="card-body">

                        <span class="h5">@comment.AuthorName  <span class="h6">- @comment.LastModified</span></span>
                        <p id="@contentId">@comment.Content</p>
                        <div class="d-grid justify-content-end">
                            <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-id="@comment.Id" data-bs-target="#commentModal">
                                edit
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="col-md-3">
        <h3 class="h5 text-muted">Departments</h3>
        <hr />
        @foreach (var department in Model.Departments)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="department">@department.DepartmentName</h5>
                    <div class="row">
                        <div class="col">
                            <div class="text-muted">Start</div>
                            <span class="start">@department.StartDate.ToShortDateString()</span>
                        </div>
                        <div class=col>
                            <div class="text-muted">End</div>
                            <span class="end">@department.EndDate?.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
        }

        <hr />
        <h3 class="h5 text-muted">Jobs</h3>
        <hr />
        @foreach (var job in Model.Jobs)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="department-1">@job.JobTitle</h5>
                    <p>Salary: @job.Salary.ToString("N2")</p>
                    <div class="row">
                        <div class="col">
                            <div class="text-muted">Start</div>
                            <div class="start">@job.StartDate.ToShortDateString()</div>
                        </div>
                        <div class=col>
                            <div class="text-muted">End</div>
                            <div class="end">@job.EndDate?.ToShortDateString()</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="commentModalLabel">Modal title</h5>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="edit-comment" class="form-label">Edit comment</label>
                <textarea id="edit-comment" class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-save">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>

    $( document ).ready(function() {
        const url = window.location.pathname;
        const lastPathSegment = url.substring(url.lastIndexOf('/') + 1);
        const employeeId = parseInt(lastPathSegment, 10);

        const isNumber = typeof(employeeId) === 'number';

        if(isNumber){
            // Data overview helper
            // loadData(employeeId);
        }

        function loadData(id){
            $.ajax({
                url: "http://localhost:5185/Home/GetEmployee/" + id,
                cache: false,
                method: "GET",
                success: function (res){
                    console.log("res..", res);
                }
            });
        }

        var commentModal = document.getElementById('commentModal');
        var modalTitle = commentModal.querySelector('.modal-title');
        var modalBody = commentModal.querySelector('#edit-comment');
        var closeModalBtn = document.getElementById('modal-close');

        var selectedCommentId = 0;
        var selectedComment;

        commentModal.addEventListener('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            selectedCommentId = button.data('id');
            selectedComment = document.getElementById('content-' + selectedCommentId)
            var content = selectedComment.textContent;
            modalBody.value = content;
        })

        $('#modal-save').on('click', function (){
            updateComment({ id: selectedCommentId, content: modalBody.value, employeeId});
        });

        function updateComment(comment){
                $.ajax({
                    url: "http://localhost:5185/Home/UpdateComment",
                    method: "POST",
                    data: comment,
                    success: function (res){
                        if(res === 'ok'){
                            selectedComment.textContent = comment.content;
                            closeModalBtn.click();
                            selectedCommentId = 0;
                            selectedComment = null;
                        }
                    }
                });
            }

    });

</script>